### Exercise 1

### Assignment Submission:

*   Step 1: Don't change the notebook's name. Eg: Exercise-1.ipynb
*   Step 2: Download the notebook. Go to File -> Download .ipynb
*   Step 3: Submit your assignment via the link: https://www.dropbox.com/request/ZvBWoQUCy8pwRVxQxwJx
*   Further notes: If you want to submit your assignment late, email trainer.python@theshortcut.org
to ask for extension.

## Part 1: Getting Started

Statements can be printed in Python using the **print( )** function. Use this function or command to print the following:
    1. "My name is <your name>"
    2. "It is 35 degrees outside"
    3. 85
    4. "85"
    5. 85.0
    6. 3.5

In [59]:
# Write your code below this line
name = "Jan-Michael Vincent"
temp = 35
num = 85
num2 = 3.5

print(f"My name is {name}")
print(f"it is {temp} degrees outside")
print(num)
print("\""+str(num)+"\"")
print(float(num))
print(num2)

My name is Jan-Michael Vincent
it is 35 degrees outside
85
"85"
85.0
3.5

Data need to be stored before being used for computation. Programming languages provide **variables** to store data. 
    1. Define three variables a, b and c. 
    2. Initialise them with the values of 35, 46.5 and "hello world" respectively.
    3. What is the data type of each variable?
    4. Use the "type" function to find out the data type.
    5. Can you tell the difference between (3) (4) and (5) in the previous task in Part 1?

In [60]:
# Write your code below this line

### exercise 1 - no value is attributed for these variables
a=b=c= None
### exercise 2
a = 35
b = 46.5
c = "hello world"

### exercise 3
print("3. a = integer, b = floating point, c = string")

### exercise 4
print("4. ")
print(" a:",type(a))
print(" b:",type(b))
print(" c:",type(c))

### exercise 5
print("5.\n Integer have no decimals and no quotes;\n Strings are surrounded by quotes \"\" or \'\';\n Floating-point variables are decimal numbers")

3. a = integer, b = floating point, c = string
4.
 a: <class 'int'>
 b: <class 'float'>
 c: <class 'str'>
5.
 Integer have no decimals and no quotes;
 Strings are surrounded by quotes "" or '';
 Floating-point variables are decimal numbers

## Part 2: Arithmetic Operators

Without running these commands, state the output of the following statements. 
(Assume that **a = 10**, **b = 5**, **c = 5.5**, **d = 3**)
    1. a + 2 * b = 20
    2. b - 4 / a = 4.6
    3. a / b = 2.0
    4. a // b = 2
    5. 1 / 2 = 0.5
    6. 1 // 2 = 0
    7. 1 % 2 = 1
    8. a ** d = 1000
    9. a / b + 5 - 5.5 * c =-23.25
    10. a**2 + 2 - c // 5 * 2 = 100.0
    11. (a + b) * 3 / d + (4 - d) = 16.0
    12. 2 * ( a * 2 / a) = 2.0

Now run the commands and print the output. 
What is the difference between (3) and (4)? What is the **operator precedence** in Python?

In [61]:
# Write your code below this line
a=10
b=5
c=5.5
d=3
print("1: ", a+2*b)
print("2: ",b-4/a)
print("3: ",a/b)
print("4: ",a//b)
print("5: ",1/2)
print("6: ", 1//2)
print("7: ",1%2)
print("8: ", a**d)
print("9: ", a/b+5-5.5*c)
print("10: ",a**2+2-c//5*2)
print("11: ",(a+b)*3/d+(4-d))
print("12: ",2*(a*2/a))

1:  20
2:  4.6
3:  2.0
4:  2
5:  0.5
6:  0
7:  1
8:  1000
9:  -23.25
10:  100.0
11:  16.0
12:  4.0

## Part 3: String Operations and Typecasting

1. Define two string variables and initialise them with "abc" and "xyz".
2. Concatenate the two variables and store them in another variable.
3. Determine the length of this variable using **len( )** function.
4. Find the number of occurrence of the letter 'o' in "OOOooofffforossseroO" using **count( )** function.

In [62]:
### part 1
s1="abc"
s2="xyz"

### part 2
s12 = s1+s2

### part 3
print("length of concatenated strings:",len(s12))

### part 4
sc = "OOOooofffforossseroO"
print("occurence of 'o':",sc.count("o"))

length of concatenated strings: 6
occurence of 'o': 6

What is _wrong_ with the following block of code? Run this code to find out the error.

    a = "He got "
    b = 35
    c = "marks in the test"
    d = a + b + c
    print(d)

In [63]:
# Write your code below this line
print("The b variable is of a different type than a and c, hence they cannot be concatenated without undergoing through convertion first.")

The b variable is of a different type than a and c, hence they cannot be concatenated without undergoing through convertion first.

String operators can only work on variables of string type. Therefore all variables need to be converted to string before the operation can be applied to them. Variables can be converted from one type to another using _typecasting_. Anything can be typecasted to string by using the **str( )** operator. 
Now use this operator to fix the error above.

In [64]:
# Write your code below this line
a = "He got "
b = str(35)
c = "marks in the test"
d = a + b + c
print(d)

He got 35marks in the test

## Part 4: Relational and Logical Operators

Without running these commands, state whether these statements would be **True** or **False**. 
    1. 12 > 13
    2. 12 > 12
    3. 12 >= 12
    4. 12 < 12
    5. 12 <= 12
    6. 12 < 13
    7. 12 == 12
    8. 12.0 == 12
    9. 13.5 >= 13
    10. 23.4 > 22.8
Now use the **print( )** function to see the output.

In [65]:
# Write your code below this line
print("1.", 12 > 13)
print("2.", 12 > 12)
print("3.",12 >= 12)
print("4.",12 < 12)
print("5.", 12 <= 12)
print("6.", 12 < 13)
print("7.", 12 == 12)
print("8.", 12.0 == 12)
print("9.", 13.5 >= 13)
print("10.", 23.4 > 22.8)

1. False
2. False
3. True
4. False
5. True
6. True
7. True
8. True
9. True
10. True

Again without running these commands state whether the statemnts are **True** or **False** and then run the commands to see the output.
    1. 12 < 13 and 1 > 2 = false
    2. 12 < 13 or 1 > 2 = false
    3. 12 < 13 and 14 > 5 or 16 == 15 = true
    4. 12 < 13 and 14 > 5 and 16 == 15 = false

In [66]:
# Write your code below this line
print("1.", 12<13 and 1>2)
print("2.", 12<12 or 1>2)
print("3.",12<13 and 14>5 or 16==15)
print("4.", 12<13 and 14>5 and 16==15)

1. False
2. False
3. True
4. False

**1** - If a car has been on the driving from **Reading** to **Southampton** for **35 minutes** at an average speed of **48 miles per hour**, how long does it still have to go, considering that it will maintain a constant average speed throughout the trajectory.

First, we must define where is Reading and Southampton and try to figure out the best route available:

According to [Google Maps](https://www.google.com/maps/dir/Reading,+UK/Southampton,+UK/@51.1815507,-1.3244673,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x48742078d93d3db7:0x2ae19f7fcefa7994!2m2!1d-0.9781303!2d51.4542645!1m5!1m1!1s0x48738957be152909:0xa78c5a6a4cda71f0!2m2!1d-1.4043509!2d50.9097004!3e0 "Reading to Southampton routes"), the shortest route takes **50.8 miles**. This is my **first assumption** and I should make sure that others are aware that I have made this assumption.

Considering that we have all the information needed, let's now run a few lines of code.

In [67]:
#Your Solution

total_time = (50.8/48)*60
time_elapsed = 35
tta = (total_time-time_elapsed)
print(f"time to arrive: {tta} minutes")

time to arrive: 28.5 minutes

### Remark:
- You can use formatted string literal method to include a variable's value within a string.
- To do that you can write an __f__ before the string and place the variable name between __{ }__ at your preferred location inside the string.
- You can format the variable by including an optional format specifier. For example __:.2f__ means you want a float output with 2 numbers after the decimal point.

2 - The imperial system can be quite confusing for most of us, so how about converting all variables from the previous exercise to the metric system?

In [68]:
#Your Solution
mi_km = 1.60934
distance = 50.8
speed = 48
print(f"distance between Reading-Southampton: {distance*mi_km:.2f} kms")
print(f"average speed: {speed*mi_km:.2f} km/h")

distance between Reading-Southampton: 81.75 kms
average speed: 77.25 km/h

3 - You have invited some of your American friends to go to sauna. You check the thermometer and it shows 80C. Convert the temperature into Farenheit. The thermometer from the lake is now showing 15C, could you also convert that?

The formula to convert the temperature from Celsius to Farenheit is $F=(\frac{9}{5} C) + 32$

In [69]:
#Your Solution
tempSaunaC = 80
tempLakeC= 15

tempLakeF = (9/5*tempLakeC)+32
tempSaunaF = (9/5*tempSaunaC)+32

print(f"The lake temperature is {tempLakeF}F")
print(f"The sauna temperature is {tempSaunaF}F")

The lake temperature is 59.0F
The sauna temperature is 176.0F

4 - If you invest 100 euros with a 2% monthly interest rate for a year, how much will you have by the end of the period?

The formula to determine the future value of an investment is:
$$FV = PV(1 + r)^k $$
Where:
- $FV$ is the Future Value;
- $PV$ is the Present Value;
- $r$ is the interest rate;
- $k$ is the number of periods.

We are assuming that the payment is in the beginning of the period.

In [70]:
#Your Solution
PV = 100
k = 12
r = 0.02
FV = PV*(1+r)**k
print(f"FV = {FV:.2f}")

FV = 126.82

There is a different formula for the periods where there are monthly payments and then push that to future value using the formular from the previous exercise. Here is the new formula:
$$RTN = PMT \frac {(1 + r)^k - 1}{r} (1+r)$$
Where:
- $RTN$ is the return by the end of the last period;
- $PMT$ is the monthly payment;
- $r$ is the interest rate;
- $k$ is the number of periods.

Again, we are assuming that the payments are happening in the beginning of the period.

In [72]:
#Your Solution

PMT = 100
k=12
r=0.02

RTN = PMT*((1+r)**k-1)/r*(1+r)

print(f"RTN = {RTN:.2f}")

RTN = 1368.03